pre,
code {
  font-size: 15px;
  background-color: $code-background;
  color: $code-def-color;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  
  border: 1px solid $pre-border-color;

  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.5);

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
